ipython
jupyter
numpy
scipy
pandas
matplotlib
seaborn
plotly
Pillow
tensorflow==2.5.0
tensorflow-probability==0.8.0
tensorflow-datasets
scikit-learn
graphviz
pydotplus
h5py
xlrd
pynvml
py-cpuinfo
psutil
